<!DOCTYPE html>
<html lang="en" ng-app="flickrApp">
  <head>
    <meta charset="UTF-8" />
    <title>Flickr Searcher</title>
    <script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
    <script src="js/app.js"></script>
  </head>

  <body>
    <div>
      <h1>Flickr Searcher</h1>
      <p>Search for Flickr photos by tag</p>
    </div>
    <div ng-controller="flickrController">
      <form ng-submit="getPhotos(search_tag)">
        <input type="text" name="search_tag" ng-model="search_tag" required="" />
        <button type="submit" id="submit" >Submit</button>
      </form>
      <div class="results" ng-if="results">
        <h2>We found {{ image.length }} results for {{ search_tag }}</h2>
        <div ng-repeat="image in response.data.photos.photo">
          <div id="imgThumbs">
            <img ng-src="https://farm{{image.farm}}.staticflickr.com/{{image.server}}/{{image.id}}_{{image.secret}}_m.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
